div#notebook.reveal{
    font-size: 12px;
}
.reveal .slides section h1{
    color: purple;
    margin-top: 2px;
    text-align: center;
}
.reveal .slides section h2{
    color: blue;
    margin-top: 2px;
}
.reveal .slides section h3{
    margin-top: 2px;
}
.reveal .slides section ul{
    margin: 20px 0;
}
#rise-footer{
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    color: red;
}
.reveal .slides .warn{
    color: red;
}
.reveal .slides code{
    max-height: none;
}
.reveal .slides section .flex{
    display: flex;
}
.reveal .slides section .flex div{
    display: inline-block;
}
.reveal .slides section .title{
    text-align: center;
    font-size: 185.7%;
    margin: 1.08em 0 1em 0;
    font-weight: bold;
    line-height: 1.0;
}
.reveal .slides section div.center{
    text-align: center;
}
div.slide-background div.slide-background div.slide-background-content::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  font-size: 75%;
  color: red;
  content: "\00a9 2022 辜勇";
}
.reveal .slides section.present.stack section.present{
    padding-top: 0;
    margin-top: 0;
}